<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
            <li>
                <a href="/home" >Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/works">Life Accomplishments</a>
            </li>
            <li>
                <a href="/photo-gallery">Photo Gallery</a>
            </li>
        </ul>
    </nav>
    <header class="header">
        <div>
            <p>Welcome to the World of <span>Mahatma Gandhi</span></p>
            <h3>"Be the change that you wish to see in the world."</h3>
        </div>
        <img src="/images/gandhihdr.jpg" alt = "Gandhi's photo" id="headerimg">
    </header>
    <hr>
    <h2 id="titles">About Him</h2>
    <section>
        <h2>Introduction</h2>
        <p>Welcome to the inspiring journey of one of history's most influential figures - Mahatma Gandhi. A global symbol of nonviolent resistance and religious equality, Mahatma Gandhi's life and teachings continue to touch the hearts of people in every corner of the world.
        </p>
        <p>Born on October 2, 1869, in the coastal town of Porbandar, India, Mohandas Karamchand Gandhi, fondly known as Mahatma Gandhi or "Bapu," embarked on a remarkable journey that would shape the destiny of a nation and inspire generations to come.
        </p>
        <p>Gandhi's life was a tapestry of unyielding courage, unwavering compassion, and a relentless pursuit of truth and justice. His philosophy of Satyagraha, the force of truth, became a potent weapon in the struggle for freedom, ultimately leading India towards independence from British colonial rule.
        </p>
        <p>Through his vision of nonviolence (Ahimsa) and his belief in the inherent goodness of humanity, Gandhi's legacy extends far beyond India's borders. His ideas and actions continue to inspire movements for civil rights, social justice, and peace worldwide.
        </p>
    </section>
    <section>
        <h2>Early Life and Background</h2>
        <p>Mahatma Gandhi, born on October 2, 1869, in Porbandar, India, into a devout Hindu family, began his journey with a sense of duty and righteousness deeply ingrained in his upbringing. As a young boy, he showed remarkable simplicity, honesty, and a thirst for knowledge.
        At the age of 19, Gandhi traveled to London to study law, where he was exposed to Western culture and ideologies. During his time abroad, he experienced the subtle but profound prejudice faced by Indians, sparking an awakening of his social consciousness.
        </p>
        <p>Returning to India in 1891, Gandhi practiced law in South Africa, where he confronted discrimination firsthand. These experiences sowed the seeds of his commitment to fighting injustice and fostering harmony among diverse communities.
        </p>
        <p>In South Africa, he also developed his concept of Satyagraha, a nonviolent resistance movement, as a powerful tool for social change. Gandhi's early encounters with injustice and discrimination shaped his vision for a just and inclusive society, ultimately laying the foundation for his pivotal role in India's independence struggle.
        </p>
        <p>His formative years instilled in him a deep reverence for truth (Satya), nonviolence (Ahimsa), and compassion, which would become the guiding principles of his extraordinary life.
        </p>
    </section>
    <section>
        <h2>Philosophy and Beliefs</h2>
        <p>Mahatma Gandhi's philosophy was founded on the principles of truth, nonviolence, and love for humanity. Central to his beliefs was the concept of Satyagraha, the force of truth, which he saw as a potent instrument for resisting oppression and injustice. Embracing Ahimsa (nonviolence), Gandhi emphasized that love and compassion were more powerful than hatred and violence, and he practiced these values in every aspect of his life.
        </p>
        <p>As an ardent environmentalist ahead of his time, Gandhi recognized the intrinsic connection between humanity and nature. He advocated for sustainable living and the protection of the environment, promoting eco-friendly practices and harmonious coexistence with nature.
        </p>
        <p>By living a life of simplicity, compassion, and unwavering conviction, Mahatma Gandhi became the living embodiment of his teachings, proving that transforming oneself was the first step towards transforming society and the world at large. His philosophy remains a timeless source of inspiration, reminding us of the profound impact that individual actions rooted in truth and nonviolence can have on the collective conscience of humanity.
        </p>  
    </section>
    <section>
        <h2>Role in India's Independence Movement</h2>
        <p>Gandhi's unwavering commitment to India's independence from British colonial rule made him the undisputed leader of the freedom struggle. He mobilized the masses through nonviolent civil disobedience campaigns, such as the Salt March and Quit India Movement, to challenge British authority and demand self-rule. His selflessness and unwavering resolve inspired millions, leading India on its path to freedom in 1947.
        </p>
    </section>
    <section>
        <h2>International Influence</h2>
        <p>Gandhi's principles of nonviolence and civil disobedience transcended borders, inspiring leaders and movements worldwide. Figures like Martin Luther King Jr., Nelson Mandela, and others drew inspiration from Gandhi's methods in their own struggles for civil rights and freedom. His influence on the global stage solidified his status as a symbol of peace and, a champion of human and civil rights.
        </p>
    </section>
    <section>
        <h2>Challenges and Opposition</h2>
        <p>Gandhi's unwavering dedication to nonviolence faced opposition, both from within India and from the British rulers. Critics challenged the efficacy of nonviolence as a means of achieving independence. Despite facing imprisonment and resistance, Gandhi held firm to his convictions, using love and nonviolence as powerful tools to combat hatred and oppression.
        </p>
    </section>
    <section>
        <h2>Legacy and Continuing Impact</h2>
        <p>Mahatma Gandhi's legacy endures through generations, etched in the hearts of those who seek justice, equality, and peace. His teachings on nonviolence and tolerance remain relevant in today's tumultuous world, inspiring movements for change and unity. Gandhi's life serves as a reminder that one individual, driven by truth and compassion, can ignite a spark that transforms the destiny of nations and influences the course of history.
        </p>
    </section>
    <hr>
    <footer>
        <p>"In a gentle way, you can shake the world."</p>
        <p id="author">Mahatma Gandhi</p>
    </footer>
</body>
</html>