<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
            <li>
                <a href="/home" >Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/works">Life Accomplishments</a>
            </li>
            <li>
                <a href="/photo-gallery">Photo Gallery</a>
            </li>
        </ul>
    </nav>
    <header class="header">
        <div>
            <p>Welcome to the World of <span>Mahatma Gandhi</span></p>
            <h3>"Be the change that you wish to see in the world."</h3>
        </div>
        <img src="/images/gandhihdr.jpg" alt = "Gandhi's photo" id="headerimg">
    </header>
    <hr>
    <section class="about">
        <h2 class="homesecs">About Mahatma Gandhi</h2>
        <p class="quotes">"My life is my message." - Mahatma Gandhi
        </p>
        <p>Mahatma Gandhi, often referred to as the "Father of the Indian Nation" or "Bapu," was born on October 2, 1869, in Porbandar, India. He led India's struggle for independence from British colonial rule through a path of nonviolent civil disobedience. Gandhi's unwavering belief in Satyagraha, the force of truth, inspired millions and became the guiding light for various freedom movements around the world.
        </p>
    </section>
    <section class="work">
        <h2 class="homesecs">His Works</h2>
        <p class="quotes">"The best way to find yourself is to lose yourself in the service of others." - Mahatma Gandhi
        </p>
        <p>Throughout his life, Mahatma Gandhi fought for social equality, human rights, and religious harmony. His advocacy for the upliftment of the oppressed and marginalized was a testament to his unyielding commitment to justice. Gandhi's efforts were not limited to India; they had a global impact on the understanding of nonviolent resistance and its potential to achieve transformative change.
        </p>
    </section>
    <section class="photogal">
        <h2 class="homesecs">Photo Gallery</h2>
        <p class="quotes">"You must not lose faith in humanity. Humanity is like an ocean; if a few drops of the ocean are dirty, the ocean does not become dirty." - Mahatma Gandhi
        </p>
        <p>In this section, you will find a collection of photographs that chronicle Mahatma Gandhi's life journey. From his early days as a young lawyer in South Africa to his iconic moments leading India's freedom struggle, these images portray the various facets of his extraordinary life.</p>
        <p>Explore this tribute to the man whose message of peace and nonviolence continues to resonate with people across the world, inspiring generations to stand up against injustice and intolerance.</p>         
    </section>
    <hr>
    <footer>
        <p>"In a gentle way, you can shake the world."</p>
        <p id="author">Mahatma Gandhi</p>
    </footer>
</body>
</html>