<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
            <li>
                <a href="/home" >Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/works">Life Accomplishments</a>
            </li>
            <li>
                <a href="/photo-gallery">Photo Gallery</a>
            </li>
        </ul>
    </nav>
    <header class="header">
        <div>
            <p>Welcome to the World of <span>Mahatma Gandhi</span></p>
            <h3>"Be the change that you wish to see in the world."</h3>
        </div>
        <img src="/images/gandhihdr.jpg" alt = "Gandhi's photo" id="headerimg">
    </header>
    <hr>
        <section>
        <h3>Gallery Introduction</h3>
        <p>Welcome to the captivating world of Mahatma Gandhi's life, beautifully captured in this exclusive photo gallery. These iconic images offer glimpses into the remarkable journey of one of history's most revered figures - a leader, activist, and proponent of nonviolent resistance.
        </p>
        <p>Experience the pivotal moments that shaped Gandhi's legacy, from his early years and formative experiences to his role in India's struggle for independence. Witness the historic Dandi March, a powerful symbol of nonviolent protest and a beacon of hope for a nation yearning for freedom.
        </p>
    </section>
    <section id="gallerysec">
        <div>
            <img src="/images/gandhifam.jpg" alt = "Gandhi's photo" id="fampic">
            <h4>Young Ghandi with family</h4>
        </div>
        <div>
            <img src="/images/gandhiwife.jpg" alt = "Gandhi's photo" id="wifepic">
            <h4>Gandhi and wife Kasturba Gandhi</h4>
        </div>
        <div>
            <img src="/images/gandhiresistance.jpg" alt = "Gandhi's photo" id="resistancepic">
            <h4>Gandhi in resistance</h4>
        </div>
        <div>
            <img src="/images/charkha.jpg" alt = "Gandhi's photo" id="charkhapic">
            <h4>Gandhi with charkha</h4>
        </div>
        <div>
            <img src="/images/gandhimartin.jpg" alt = "Gandhi's photo" id="martinpic">
            <h4>Martin L. K. at the Atlanta office with Gandhi's portrait</h4>
        </div>
        <div>
            <img src="/images/gandhi.jpg" alt = "Gandhi's photo" id="gandhipic">
            <h4>The symbol of peace and equality</h4>
        </div>
    </section>
    <hr>
    <footer>
        <p>"In a gentle way, you can shake the world."</p>
        <p id="author">Mahatma Gandhi</p>
    </footer>
</body>
</html>